---
import SiteLayout from "../layouts/SiteLayout.astro";
import Triangle from "../components/Triangle.astro";
import CTALink from "../components/CTALink.astro";
---

<SiteLayout title="About">
  <main>
    <section
      class="container mt-6 grid items-start gap-[var(--container-padding)] p-[var(--container-padding)] pt-0 md:grid-cols-[min(35%,500px),1fr] lg:items-center xl:mt-0">
      <!-- Moody Portrait -->
      <div
        class="relative z-10 order-first max-w-[250px] overflow-hidden rounded-4xl rounded-br-none border border-border md:max-w-[500px] lg:order-none lg:place-self-start">
        <img
          class="relative z-10"
          src="https://res.cloudinary.com/drl4zairb/image/upload/w_500,h_750,c_fill,g_face,q_auto:eco,f_auto,dpr_1/v1679294928/moody-portrait-v2_epbe4v.png"
          srcset="
          https://res.cloudinary.com/drl4zairb/image/upload/w_500,h_750,c_fill,g_face,q_auto:eco,f_auto,dpr_1/v1679294928/moody-portrait-v2_epbe4v.png,
          https://res.cloudinary.com/drl4zairb/image/upload/w_500,h_750,c_fill,g_face,q_auto:eco,f_auto,dpr_2/v1679294928/moody-portrait-v2_epbe4v.png 2x
        "
          width="500"
          height="750"
          alt="Moody black and white portrait of Kyle Gordy"
          loading="lazy"
        />

        <Triangle
          class="[--size:300px] lg:[--size:min(35vw,625px)] absolute bottom-0 right-0 text-primary z-0"
        />

        <Triangle
          class="[--size:min(15vw,80px)] absolute bottom-0 right-0 text-primary z-20"
        />
      </div>

      <div class="max-w-xl">
        <h2 class="mb-4 text-3xl font-bold lg:mb-7">
          UI Designer<br />Who Codes
        </h2>
        <p class="mb-4 text-base text-muted lg:mb-7">
          I'm a multifaceted UI Designer/Frontend Developer with 12 years of
          experience. I currently work remotely in my hometown of Chattanooga,
          TN.
        </p>
        <p class="mb-4 text-base text-muted lg:mb-7">
          I'm a lifelong learner, always eager to pick up new skills and
          techniques to build better experiences. This curiosity has led me to
          work on a diverse set of products/industries.
        </p>
        <p class="mb-4 text-base text-muted lg:mb-7">
          I originally got my degree in traditional print-based Graphic Design.
          However, after graduation, I transitioned to building digital
          products. I love their ever-evolving nature.
        </p>
        <p class="mb-4 text-base text-muted lg:mb-7">
          Over the last decade, I've witnessed how almost every aspect of
          building digital products has changed. We've never had a better
          understanding of how to create effective, impactful, and accessible
          products than we do right now.
        </p>
      </div>
    </section>

    <section
      class="container p-0 sm:p-[calc(var(--container-padding)_/_2.6)] sm:py-0">
      <div
        class="grid gap-[var(--container-padding)] rounded-b-5xl bg-page-offset px-[var(--container-padding)] py-[calc(var(--container-padding)*1.5)] sm:p-[calc(var(--container-padding)_/_1.6)] md:grid-cols-2">
        <div class="max-w-xl">
          <h2 class="mb-5 text-2xl font-bold md:mb-11">Main Skills</h2>
          <ol class="numbered-list grid gap-5 md:gap-11">
            <li>
              <h3 class="mb-1 text-lg font-medium sm:mb-2">
                <span>User Interface Design</span>
              </h3>
              <p class="max-w-2xl text-base text-muted">
                Creating a great UI isn't about following trends and adding
                flash; it's about understanding your users and their goals, then
                getting out of their way.
              </p>
            </li>
            <li>
              <h3 class="mb-1 text-lg font-medium sm:mb-2">
                <span>Frontend Development</span>
              </h3>
              <p class="max-w-2xl text-base text-muted">
                No amount of planning, marketing, or UX can fix a slow,
                non-responsive build. Your product lives or dies by the
                underlying code choices powering your frontend.
              </p>
            </li>
            <li>
              <h3 class="mb-1 text-lg font-medium sm:mb-2">
                <span>Accessibility</span>
              </h3>
              <p class="max-w-2xl text-base text-muted">
                Incorporate accessibility testing and considerations into your
                product from day one. It's three times more difficult/expensive
                to add after your product is built (or after a lawsuit).
              </p>
            </li>
          </ol>
        </div>
        <hr class="border-border md:hidden" />
        <div class="max-w-xl">
          <h2 class="mb-5 text-2xl font-bold md:mb-11">Values</h2>
          <ol class="numbered-list grid gap-5 md:gap-11">
            <li>
              <h3 class="mb-1 text-lg font-medium sm:mb-2">
                <span>Keep it Simple</span>
              </h3>
              <p class="max-w-2xl text-base text-muted">
                Simplicity is not a preference; it's a competitive advantage. If
                something can be simplified, it can be understood and adopted
                more easily. Friction is the enemy.
              </p>
            </li>
            <li>
              <h3 class="mb-1 text-lg font-medium sm:mb-2">
                <span>Code is the Final Design</span>
              </h3>
              <p class="max-w-2xl text-base text-muted">
                The final product isn't a Figma file; it's the bundle of code
                the end-user experiences. Bridging the gap between design and
                dev teams is crucial to ship great products.
              </p>
            </li>
            <li>
              <h3 class="mb-1 text-lg font-medium sm:mb-2">
                <span>Never Not Learning</span>
              </h3>
              <p class="max-w-2xl text-base text-muted">
                Everything is constantly changing; what worked yesterday might
                not work today. Learn with every new project and be open to
                change.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </section>

    <section
      class="container grid gap-[min(var(--container-padding),3.125rem)] py-[calc(var(--container-padding)*2)] md:py-[var(--container-padding)]">
      <div>
        <h2 class="mb-3 text-2xl font-bold md:mb-4">Experience</h2>
        <p class="max-w-2xl text-base text-muted">
          Since 2011, I’ve worked with mom-and-pop, non-profits, and Fortune 500
          companies to design and build effective, impactful, and accessible
          websites and apps.
        </p>
      </div>
      <ul
        class="grid gap-x-[var(--container-padding)] gap-y-5 md:grid-cols-2 md:gap-y-12">
        <li>
          <h3 class="text-lg font-medium">Freelance & Contract</h3>
          <p class="text-sm font-medium text-primary">
            UI Designer & Frontend Developer
          </p>
          <p class="mb-4 text-sm text-muted">
            Apr 2018 <span class="opacity-50">&ndash;</span> Present
          </p>
          <p class="max-w-lg text-sm text-muted">
            Hired by Scribd to design and develop a website for their
            developers, enabling them to share technical work and attract new
            talent. Designed and built a website for Ace IoT Solutions to assist
            in selling their high-touch SaaS product. Established a long-term
            relationship with BoardGameGeek to redesign and rebuild their 20+
            year old suite of websites and apps.
          </p>
        </li>

        <li>
          <h3 class="text-lg font-medium">Post Stroke</h3>
          <p class="text-sm font-medium text-primary">
            Design, Marketing &amp; Board Member
          </p>
          <p class="mb-4 text-sm text-muted">
            Dec 2020 <span class="opacity-50">&ndash;</span> Present
          </p>
          <p class="max-w-lg text-sm text-muted">
            Co-founded Post Stroke, a 501(c)(3) nonprofit organization, whose
            mission is to make stroke recovery information accessible to
            everyone. Responsible for the organization's branding, web
            development, marketing material, and content strategy to help reach
            more survivors.
          </p>
        </li>

        <li>
          <h3 class="text-lg font-medium">Simple Focus</h3>
          <p class="text-sm font-medium text-primary">
            UI Designer & Frontend Developer
          </p>
          <p class="mb-4 text-sm text-muted">
            Nov 2015 <span class="opacity-50">&ndash;</span> Apr 2018
          </p>
          <p class="max-w-lg text-sm text-muted">
            Designed and developed several client websites and apps. Worked
            closely with our research team and client stakeholders to ensure
            that both user and business needs were met from ideation to launch.
            Designed new features and cleaned up the HTML/CSS for two internal
            SaaS apps, Pulse and Ballpark.
          </p>
        </li>

        <li>
          <h3 class="text-lg font-medium">Anonyome Labs</h3>
          <p class="text-sm font-medium text-primary">Product Designer</p>
          <p class="mb-4 text-sm text-muted">
            Aug 2016 <span class="opacity-50">&ndash;</span> Feb 2017
          </p>
          <p class="max-w-lg text-sm text-muted">
            Spent six months embedded as an internal product designer, working
            closely with both design and development teams on new user stories.
            Made significant changes to the app’s user experience and built a
            comprehensive UI library to improve app consistency and speed up
            iteration.
          </p>
        </li>

        <li>
          <h3 class="text-lg font-medium">Chattanooga Public Library</h3>
          <p class="text-sm font-medium text-primary">Product Designer</p>
          <p class="mb-4 text-sm text-muted">
            Apr 2014 <span class="opacity-50">&ndash;</span> Nov 2015
          </p>
          <p class="max-w-lg text-sm text-muted">
            Maintained and visually refreshed the existing Drupal website. In
            addition to development work, assisted in the redesign of the
            library’s brand and updated various web, social and print
            collateral. Contributed design and code to local community and civic
            engagement programs.
          </p>
        </li>

        <li>
          <h3 class="text-lg font-medium">Fillauer Companies</h3>
          <p class="text-sm font-medium text-primary">
            Graphic Designer & Frontend Developer
          </p>
          <p class="mb-4 text-sm text-muted">
            May 2011 <span class="opacity-50">&ndash;</span> Apr 2014
          </p>
          <p class="max-w-lg text-sm text-muted">
            Designed and developed email marketing campaigns, digital ads, and
            other web-related graphics. Updated and maintained the company
            website. Also designed magazine ads and manuals for the company’s
            inventory of prosthetic and orthotic product lines.
          </p>
        </li>
      </ul>

      <CTALink
        class="w-max"
        href="/assets/docs/Kyle-Gordy-Resume.pdf"
        icon="arrow-down"
        download="Kyle Gordy - Resume">
        Download Resume
      </CTALink>
    </section>
  </main>
</SiteLayout>

<style>
  .numbered-list li {
    counter-increment: index 1;
  }

  .numbered-list h3::before {
    content: counter(index);
    @apply text-primary;
  }

  .numbered-list span::before {
    content: "—";
    @apply ml-1 mr-2 text-primary opacity-50;
  }
</style>
