---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="UI Designer & Frontend Developer">
  <main class="container grow grid place-content-center">Homepage</main>
</SiteLayout>
