---
const { title, role, url, bgcolor } = Astro.props;
---

<!-- TODO: figure out a better way to handle this -->
<style define:vars={{ bgcolor }}>
  li.group:nth-of-type(2),
  li.group:nth-of-type(3),
  li.group:nth-of-type(6),
  li.group:nth-of-type(7),
  li.group:nth-of-type(10) {
    grid-column: span 2 / span 2;
  }
</style>

<li class="group">
  <div
    class="mb-4 h-96 rounded-4xl bg-[var(--bgcolor)] group-odd:rounded-br-none group-even:rounded-bl-none">
  </div>
  <h3 class="mb-0.5 text-lg font-medium">
    <a
      class="decoration-transparent underline-offset-[6px] transition-colors hover:text-primary hover:underline hover:decoration-primary-dark focus:text-primary focus:underline"
      href={url}>
      {title}
    </a>
  </h3>
  <ul class="font-mono text-muted">
    <li>{role}</li>
  </ul>
</li>
