---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "font-mono text-sm text-primary underline-offset-8 transition-colors hover:text-primary hover:underline hover:decoration-primary-dark focus:text-primary focus:underline",
    {
      "underline decoration-primary-dark": isActive,
    },

    {
      "decoration-transparent": isActive == false,
    },
  ]}
  {...props}
>
  <slot />
</a>
