---
import HeaderFooterLink from "./HeaderFooterLink.astro";
import Logo from "./Logo.astro";
---

<header
  class="container py-5 md:py-10 xl:py-20 flex items-center justify-between gap-2">
  <a class="hover:text-primary focus:text-primary transition-colors" href="/">
    <Logo />
  </a>
  <nav class="flex gap-5 lg:gap-12">
    <HeaderFooterLink href="/">Projects</HeaderFooterLink>
    <HeaderFooterLink href="/about">About</HeaderFooterLink>
    <HeaderFooterLink href="/contact">Contact</HeaderFooterLink>
  </nav>
</header>
