---
import HeaderFooterLink from "./HeaderFooterLink.astro";
import Logo from "./Logo.astro";
---

<header
  class="container flex items-center justify-between gap-2 py-5 md:py-10 lg:py-16">
  <a class="transition-colors hover:text-primary focus:text-primary" href="/">
    <Logo />
  </a>
  <nav class="flex gap-5 lg:gap-12">
    <!-- <HeaderFooterLink href="/">Projects</HeaderFooterLink> -->
    <HeaderFooterLink href="/">About</HeaderFooterLink>
    <HeaderFooterLink href="/contact">Contact</HeaderFooterLink>
  </nav>
</header>
