---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "/");
---

<a
  href={href}
  class:list={[
    "font-mono text-sm text-primary focus:text-primary hover:text-primary hover:underline focus:underline underline-offset-8 transition-colors decoration-transparent hover:decoration-primary-dark",
    {
      "underline decoration-primary-dark": isActive,
    },
  ]}
  {...props}>
  <slot />
</a>
