---
import Triangle from "./Triangle.astro";
import { SITE_TITLE } from "../config";
---

<div class="group flex items-center gap-3.5 font-bold">
  <div
    class="relative aspect-square w-10 rounded-lg rounded-br-none border-2 border-primary">
    <Triangle
      class="[--size:10px] absolute bottom-0 right-0 origin-bottom-right text-primary transition-transform ease-in-out group-hover:scale-[1.75]"
    />
  </div>
  <h1 class="text-lg">{SITE_TITLE}</h1>
</div>
